.book-detail {
  &__book-cover {
    width: 100%;
    height: 80%;
    margin: 0 auto;

    @include tablet {
      width: 80%;
      height: 90%;
    }

    img {
      width: 100%;
      height: 100%;
      box-shadow: $box-shadow;
      border-radius: $radius;
      cursor: pointer;

      @include tablet {
        // width: calc(100% - 5rem);
        // margin: 0 2.5rem;
      }
    }
  }

  &__info {
    margin-right: 3rem;

    @include laptop {
      margin-right: 0;
    }

    &__title {
      font-size: $large-size;
      color: $primary-color;

      @include mobile {
        font-size: $title-size;
      }
    }

    &__meta {
      margin-top: 2rem;
      font-size: $subtitle-size;

      &__item {
        padding: 0.5rem 0;

        span {
          color: $primary-color;
          font-weight: bold;
        }

        i {
          position: relative;
          top: 2px;
          font-size: 2rem;
        }
      }
    }

    &__desc {
      margin-top: 3rem;
      font-size: $subtitle-size;
      opacity: $opacity;

      p {
        margin: 2rem 0;
        line-height: 3rem;
      }
    }

    &__options {
      @include flex(flex-start, center);
      flex-wrap: wrap;

      &__item {
        position: relative;
        margin: 1rem 1rem 1rem 0;
        padding: 1rem;
        font-size: $subtitle-size;
        color: $white-color;
        border-radius: $radius;
        cursor: pointer;
        
        span {
          font-size: $subtitle-size;
        }

        i {
          position: relative;
          top: 2px;
          margin-right: 3px;
          font-size: $subtitle-size;
        }

        @include mobile {
          width: 50px;
          height: 50px;

          span {
            display: none;
          }

          i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            font-size: $title-size;
          }
        }

        // @include tablet {
        //   padding: 2.5rem;
        //   i {
        //     position: absolute;
        //     top: 50%;
        //     left: 50%;
        //     transform: translate(-50%, -50%);
        //     font-size: $title-size;
        //   }

        //   span {
        //     display: none;
        //   }
        // }

        &--disabled {
          background-color: $gray-color;
        }
      }
    }

    hr {
      margin: 3rem 2rem 3rem 0;
      opacity: $opacity;
    }
  }
}
