
.book-card {
  text-align: center;

  &__image {

    img {
      width: 100%;
      height: 100%;
      max-width: 160px;
      max-height: 210px;
      border-radius: $radius;
      box-shadow: $box-shadow;
      transition: $transition;
    }
  }
  
  &__info {
    &__title {
      margin-top: 5px;
      font-size: $subtitle-size;
      font-weight: bold;
      color: $primary-color;
    }
  
    &__author {
      margin-top: 3px;
      font-size: 1.6rem;
      font-weight: 500;
      color: $gray-color;
    }
  }
  &:hover img {
    transform: scale(1.04);
  }
}