
.book-card {
  text-align: center;

  &__image {

    img {
      width: 100%;
      height: 100%;
      max-width: 160px;
      max-height: 210px;
      border-radius: $radius;
      box-shadow: $box-shadow;
      transition: $transition;
    }
  }
  
  &__info {
    padding: 0 5px;

    &__title {
      margin-top: 5px;
      font-size: $subtitle-size;
      font-weight: bold;
      color: $primary-color;
    }
  
    &__author {
      margin-top: 3px;
      font-size: $text-size;
    }
    
    &__footer {

      &__download, &__views {
        margin-right: 1rem;
        font-size: $text-size;
        
        i {
          position: relative;
          left: 0;
          top: 2px;
          margin-left: 2px;
          font-size: $subtitle-size;
        }
      }
    }
  }
  &:hover img {
    transform: scale(1.04);
  }
}