#category-list {
  overflow: auto;
  white-space: nowrap;

  .category-card {
    display: inline-block;
    margin: 3rem 2rem;
    text-align: center;

    &__image {
      width: 100px;
      height: 120px;
      border-radius: $radius;
      box-shadow: $box-shadow;
    }

    &__title {
      margin: 1rem 0;
      font-size: $text-size;
      font-weight: bold;
      color: $gray-color;
    }
    
    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover .category-card__title {
      color: $primary-color;
    }
  }
}
