.category-card {
  text-align: center;

  &__image {
    img {
      width: 100%;
      height: 100%;
      max-width: 120px;
      max-height: 160px;
      border-radius: $radius;
      box-shadow: $box-shadow;
    }
  }

  &__title {
    margin-top: 1rem;
    font-size: $subtitle-size;
    font-weight: bold;
    color: $gray-color;
  }

  &:hover &__title {
    color: $primary-color;
  }
}
