.modal {
  @include flex(center, center);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: $modal-z-index;

  &__body {
    position: relative;
    padding: 1rem;
    width: 600px;
    height: 600px;
    background-color: #fff;
    border-radius: $radius;
    box-shadow: $box-shadow;

    @include mobile {
      margin: 0 2rem;
    }
  }
}

.search-form {
  position: relative;
  color: $primary-color;
  
  &__input {
    width: 100%;
    padding: 1rem 4.5rem;
    font-size: $subtitle-size;
    border: 2px solid $primary-color;
    border-radius: 5px;

    &:focus {
      outline: none;
    }

    @include mobile {
      font-size: $text-size;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    i {
      font-size: $title-size;
    }

    &--search {
      left: 1.5rem;
    }

    &--close {
      right: 1.5rem;
      border-radius: 50%;
      color: $gray-color;
      opacity: $opacity;
      cursor: pointer;
    }
  }

}