.pagination {
  @include flex(center, center);
  flex-wrap: wrap;
  font-size: $text-size;
  font-weight: bold;
  color: $gray-color;

  @include tablet {
    font-size: 1rem;
  }

  &__item {
    margin: .25rem;
    padding: .3rem .7rem;
    border: 1px solid $primary-color;
    border-radius: 5px;
    cursor: pointer;

    @include tablet {
      padding: .3rem .5rem;
    }

    &:hover {
      background-color: $primary-color;
      color: $white-color;
    }

    &--active {
      background-color: $primary-color;
      color: $white-color;
    }

    &--navigation {
      position: relative;
      padding: 1.2rem;
      
      i {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: $subtitle-size;
        transform: translate(-50%, -50%);
      }

      @include tablet {
        padding: .9rem;
      }

    }
  }
}