.toast {
  position: fixed;
  bottom: 5rem;
  left: 2rem;
  max-width: 500px;
  width: 90%;
  padding: 3rem 2rem 2rem 2rem;
  background: $white-color;
  border-top: 4px solid $primary-color;
  border-radius: $radius;
  box-shadow: $box-shadow;
  z-index: $toast-z-index;

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: $icon-size;
    color: $gray-color;
    cursor: pointer;
  }
  
}
